@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary */
    --dark-cyan: hsl(180, 29%, 50%);

    /* Neutral */
    --light-grayish-cyan-bg: hsl(180, 52%, 96%);
    --light-grayish-cyan: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

#app {
    font-family: 'League Spartan', sans-serif;
    margin: 0 auto;

    font-weight: normal;
}

.filter-wrapper,
.wrapper {
    @apply container mx-auto md:max-w-5xl;
}

.filter-wrapper {
    @apply px-6;
}

.wrapper {
    @apply pt-12 pb-8 px-6;
}

.listing-details > :not(:last-child)::after {
    content: '';
    background-color: currentColor;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-left: 1rem;
    vertical-align: middle;
}

.featured-container {
    @apply border-dark-cyan;
}

.listing-container {
    @apply border-transparent;
}

.listing-container,
.featured-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .listing-container,
    .featured-container {
        grid-template-columns: auto 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .listing-container,
    .featured-container {
        grid-template-columns: auto 1fr 1.5fr;
    }
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.5);
    }
}
